Repository HYF-Class19/agile-development-hyf-group-1, pull requests merged in 2022-08, with the labels that each got.

#2 Planning-group-1
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/retrospective.md
  planning/user-personas.md
Labels: documentation, Planning

#4 backlog information
  planning/backlog.md
Labels: Planning

#5 add information in constraints.md file
  planning/constraints.md
Labels: Planning

#7 updating backlog file
  planning/backlog.md
Labels: documentation, Planning

#9 add design
  .cspell.json
  images/about.excalidraw.png
  images/digitalents.excalidraw.png
  images/home.excalidraw.png
  images/program.png
  images/volunteer.excalidraw.png
  planning/backlog.md
  planning/design.md
Labels: documentation, Planning

#14 add html pages
  pages/about.html
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
Labels: html

#10 Images folder name changes
  .cspell.json
  .ls-lint.yml
  images/about.png
  images/digitalents.png
  images/home.png
  images/volunteer.png
  planning/design.md
Labels: documentation

#17 Add development strategy
  planning/backlog.md
  planning/constraints.md
  planning/development-strategy.md
Labels: documentation, Planning

#20 add volunteer dev-str
  planning/development-strategy.md
Labels: documentation

#21 add content in the about page section of develpment strategy
  planning/development-strategy.md
Labels: documentation, Planning

#23 volunteer-page
  pages/volunteer.html
  planning/development-strategy.md
  styles/index.css
Labels: html, css

#22 digitalent page
  .cspell.json
  package-lock.json
  package.json
  pages/digitalents.html
  styles/index.css
Labels: html, css

#28 add link for other pages
  pages/digitalents.html
Labels: html

#30 add retrospective
  planning/retrospective.md
Labels: Planning

#31 add wireframe link
  planning/development-strategy.md
Labels: Planning

#32 updating development-strategy.md
  planning/development-strategy.md
Labels: Planning

#33 public-readme-including-updates
  .cspell.json
  .gitignore
  README.md
  index.html
Labels: documentation

#37 Volunteer page
  .cspell.json
  .vscode/settings.json
  pages/volunteer.html
  planning/backlog.md
  styles/index.css
Labels: html, css

#38 Digitalents
  README.md
  package-lock.json
  package.json
  pages/digitalents.html
  planning/README.md
  planning/development-strategy.md
  styles/digitalent.css
  styles/index.css
  styles/something.css
Labels: bug
